<%- contentFor('body') %>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-image">
                    <img src="images/portfolio-header.jpg" border="0">
                    <span class="card-title">HỌC PHÍ THAM KHẢO DÀNH CHO PHỤ HUYNH & HỌC SINH</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="home-page-content">
        <div class="col s12 m3 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align purple darken-3 white-text">
                    <h6>PHỤ HUYNH</h6>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Lưu ý khi chọn gia sư cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Tầm quan trọng của việc chọn đúng
                        gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Những điều phụ huynh nên biết khi
                        thuê gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Bồi dưỡng kiến thức cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Dạy kèm tại nhà</div>
                </li>
            </ul>
            <ul class="collection with-header" id="home-page-content-support">
                <li class="collection-header center-align indigo darken-3 white-text">
                    <h6>THÔNG TIN HỖ TRỢ</h6>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle indigo darken-3">phone</i>
                    <span class="title home-support-title">0862.50.55.22</span>
                    <p class="home-support-title">(Thầy Nam)</p>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle indigo darken-3">phone</i>
                    <span class="title home-support-title">0914.787.008</span>
                    <p class="home-support-title">(Thầy Nam)</p>
                </li>
            </ul>
        </div>
        <div class="col s12 m6 l8">
            <ul class="collection with-header">
                <li class="collection-header center-align light-blue darken-3 white-text">
                    <h6>BẢNG GIÁ GIA SƯ</h6>
                </li>
            </ul>
            <div class="card hoverable grey lighten-3 card-introdution-us">
                <div class="card-content">
                    <span class="card-title text-darken-4 card-introduction-title"><b>I. MỤC TIÊU KHÓA HỌC.</b></span>
                    <p>
                        <i class="material-icons ">check</i> Giúp học sinh yếu lấy lại kiến thức cơ bản, bồi dưỡng nâng cao
                        kiến thức cho học sinh khá, giỏi.
                    </p>
                    <p>
                        <i class="material-icons ">check</i> Luyện giải đề thi cho học sinh chuẩn bị thi vào lớp 10.
                    </p>
                    <p>
                        <i class="material-icons ">check</i> Tư vấn xét tuyển, chọn ngành và luyện đề thi Tốt nghiệp THPT
                        Quốc gia theo cấu trúc mới của Bộ cho học sinh khối 12.
                    </p>
                    <br>
                    <span class="card-title text-darken-4 card-introduction-title"><b>II. ĐIỀU KIỆN HỌC TẬP.</b></span>
                    <p><i class="material-icons ">check</i> Phòng máy lạnh thoáng mát.</p>
                    <p><i class="material-icons ">check</i> Sĩ số: dưới 20 hs/lớp.</p>
                    <p><i class="material-icons ">check</i> Thông báo vắng mặt ngay buổi học, thông báo kết quả học tập của
                        học sinh hàng tháng cho phụ huynh.</p>
                    <p><i class="material-icons ">check</i> Học sinh có sự tiến bộ nhanh sẽ được xét miễn giảm 10% học phí.</p>
                    <p><i class="material-icons ">check</i> Học sinh có hoàn cảnh khó khăn sẽ được xem xét miễn giảm học phí.</p>
                    <p><i class="material-icons ">check</i> Có chế độ lưu trú cho học sinh học phụ đạo, bồi dưỡng trái buổi
                        lớp 1 - 12, ở lại buổi trưa.</p>
                    <p><i class="material-icons ">check</i> Có xe đưa rước học sinh tận nhà.</p>
                    <br>
                    <span class="card-title text-darken-4 card-introduction-title"><b>III. HỌC PHÍ.</b></span>
                    <span class="text-darken-4 card-introduction-title"><b>KHỐI TIỂU HỌC (TOÁN, TIẾNG VIỆT, ANH)</b></span>
                    <table class="table striped teal-text text-darken-4 tuition-price-table-1">
                        <thead>
                            <tr>
                                <th class="center-align">LỚP</th>
                                <th class="center-align">HÌNH THỨC</th>
                                <th class="center-align">HỌC PHÍ MÔN/THÁNG</th>
                                <th class="center-align">TIỀN ĂN</th>
                                <th class="center-align">GHI CHÚ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lớp Lá - 5</td>
                                <td>BÁN TRÚ</td>
                                <td>1.200.000 đ</td>
                                <td>300.000 đ</td>
                                <td>1.500.000 đ</td>
                            </tr>
                            <tr>
                                <td>Lớp Lá - 5</td>
                                <td>THEO MÔN</td>
                                <td>350.000 đ</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <span class="text-darken-4 card-introduction-title"><b>KHỐI THCS & THPT (TOÁN, VĂN, ANH, LÝ, HÓA)</b></span>
                    <table class="table striped deep-orange-text text-darken-4 tuition-price-table-2">
                        <thead>
                            <tr>
                                <th class="center-align">LỚP</th>
                                <th class="center-align">HÌNH THỨC</th>
                                <th class="center-align">HỌC PHÍ MÔN/THÁNG</th>
                                <th class="center-align">TIỀN ĂN</th>
                                <th class="center-align">GHI CHÚ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lớp 6 - 7</td>
                                <td>BÁN TRÚ</td>
                                <td>1.200.000 đ</td>
                                <td>400.000 đ</td>
                                <td>1.600.000 đ</td>
                            </tr>
                            <tr>
                                <td>Lớp 8 - 11</td>
                                <td>BÁN TRÚ</td>
                                <td>1.500.000 đ</td>
                                <td>500.000 đ</td>
                                <td>2.000.000 đ</td>
                            </tr>
                            <tr>
                                <td>Lớp 6 - 8</td>
                                <td>THEO MÔN</td>
                                <td>350.000 đ</td>
                                <td></td>
                                <td>2 buổi/tuần, mỗi buổi 3 tiết.</td>
                            </tr>
                            <tr>
                                <td>Lớp 9</td>
                                <td></td>
                                <td>400.000 đ</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Lớp 10, 11</td>
                                <td></td>
                                <td>200.000 đ</td>
                                <td></td>
                                <td>1 buổi/tuần, mỗi buổi 3 tiết</td>
                            </tr>
                            <tr>
                                <td>Lớp 12</td>
                                <td></td>
                                <td>600.000 đ</td>
                                <td></td>
                                <td>2 buổi/tuần</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <span class="card-title red-text text-darken-3 card-tuition-price-title"><u>Lưu ý</u></span>
                    <p class="card-tuition-price-text">
                        <i class="fa fa-circle" aria-hidden="true"></i> Đối với những học sinh (không thuộc diện bán trú) có nhu cầu truy bài thêm tại Trung tâm, 
                        phụ huynh vui lòng đóng thêm 15.000 đ/buổi (400.000 đ/tháng).
                    </p>
                    <p class="card-tuition-price-text">
                        <i class="fa fa-circle" aria-hidden="true"></i> Phụ huynh vui lòng đóng tiền học phí từ ngày 01 đến ngày 10 hàng tháng.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align orange darken-3 white-text">
                    <h6>GIA SƯ CÁC MÔN</h6>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Toán</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Lý</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Hóa</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Sinh</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Anh</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Văn</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Luyện thi Đại Học</div>
                </li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header center-align green darken-3 white-text">
                    <h6>TIN TỨC NỔI BẬT</h6>
                </li>
            </ul>
            <div class="auto">
                <div class="carousel">
                    <ul>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/common_1.png"><br>
                            <a class="grey-text text-darken-4">
                                Giáo viên muốn môn Toán 'học gì thi nấy, không đánh đố'
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/portfolio-header.jpg"><br>
                            <a class="grey-text text-darken-4"> 
                                Nữ sinh Việt đạt điểm tuyệt đối kỳ thi chuẩn hóa SAT
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/about.jpg"><br>
                            <a class="grey-text text-darken-4">
                                Nữ sinh được 8 trường danh tiếng mời nhập học
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/home.png"><br>
                            <a class="grey-text text-darken-4">
                                Nam sinh trường Luật đạt điểm TOEIC tuyệt đối
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/contact.jpg"><br>
                            <a class="grey-text text-darken-4">
                                Sử dụng chung hệ thống phần mềm quản lý thi THPT quốc gia
                            </a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text center-align">
                    <span class="card-title"><b><u>KHAI GIẢNG CÁC LỚP THƯỜNG XUYÊN</u></b></span>
                    <p>Liên hệ và ghi danh tại Văn phòng trụ sở chính:</p>
                    <p>18/64A, KDC Đại Hải, Ấp 7, xã Xuân Thới Thượng, huyện Hóc Môn, HCM.</p>
                    <p>Website: tuvanduhocdaihai.edu.vn</p>
                    <p>Phone: 0862.50.55.22 hoặc 0914.787.008 (Thầy Nam).</p>
                    <p>Email: tuvanduhocdaihai@gmail.com</p>
                </div>
            </div>  
        </div>
    </div>