<%- contentFor('body') %>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-image">
                    <img src="images/portfolio-header.jpg" border="0">
                    <span class="card-title">NHỮNG ĐIỀU PHỤ HUYNH NÊN BIẾT TRONG GIÁO DỤC</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="home-page-content">
        <div class="col s12 m3 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align purple darken-3 white-text">
                    <h6>PHỤ HUYNH</h6>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Lưu ý khi chọn gia sư cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Tầm quan trọng của việc chọn đúng
                        gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Những điều phụ huynh nên biết khi
                        thuê gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Bồi dưỡng kiến thức cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Dạy kèm tại nhà</div>
                </li>
            </ul>
            <ul class="collection with-header" id="home-page-content-support">
                <li class="collection-header center-align indigo darken-3 white-text">
                    <h6>THÔNG TIN HỖ TRỢ</h6>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle indigo darken-3">phone</i>
                    <span class="title home-support-title">0862.50.55.22</span>
                    <p class="home-support-title">(Thầy Nam)</p>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle indigo darken-3">phone</i>
                    <span class="title home-support-title">0914.787.008</span>
                    <p class="home-support-title">(Thầy Nam)</p>
                </li>
            </ul>
        </div>
        <div class="col s12 m6 l8">
            <ul class="collection with-header">
                <li class="collection-header center-align light-blue darken-3 white-text">
                    <h6>PHỤ HUYNH NÊN BIẾT</h6>
                </li>
            </ul>
            <div class="card hoverable grey lighten-3">
                <div class="card-content">
                    <p>
                        <i class="fa fa-question-circle" aria-hidden="true"></i> Bạn luôn mong con em mình giỏi giang, nhưng các em dường như đã rất vất vả với chuyện học ở trường?
                    </p>
                    <p>
                        <i class="fa fa-question-circle" aria-hidden="true"></i> Bạn nghĩ nên tìm cho con một gia sư tốt?
                        <span class="red-text text-darken-4">Chúng tôi có một số lời khuyên dành cho bạn.</span>
                    </p>
                    <br>
                    <span class="red-text text-darken-4"><i class="fa fa-hand-o-right" aria-hidden="true"></i><u> Nên xác định rõ nhu cầu:</u></span>
                    <p>- Vì sao bạn nghĩ rằng con mình cần học gia sư.</p>
                    <p>- Cháu có khó khăn trong việc học môn nào.</p>
                    <p>- Cháu vô cùng vất vả khi làm bài tập về nhà.</p>
                    <p>- Mối quan hệ giữa bạn và con có tốt không.</p>
                    <p>- Liệu con bạn không có vấn đề gì về phát triển trí tuệ.</p>
                    <p>- Một kỳ thi cực kỳ quan trọng tới gần.</p>
                    <p>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Hãy rà soát lại và suy nghĩ thật kỹ xem liệu con có cần một sự giúp đỡ đặc biệt nào mà thầy cô ở trường không thể đáp ứng.
                    </p>
                    <p>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Theo bạn, con mình không theo kịp bạn bè trong lớp có phải vì cháu ốm, hay vì mới chuyển trường?... Hãy nhận rõ mục tiêu để tìm cho con một gia sư phù hợp nhất!
                    </p>
                    <br>
                    <span class="red-text text-darken-4"><i class="fa fa-hand-o-right" aria-hidden="true"></i><u> Nên trao đổi với giao viên của con:</u></span>
                    <p>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Mục đích cuối cùng của bạn là giúp con học hành tiến bộ, bởi thế hãy liên lạc với thầy cô của con trên lớp để hỏi thăm những thông tin cần thiết như:
                    </p>
                    <p>- Cháu đặc biệt yếu kém và cần được kèm cặp riêng môn nào?</p>
                    <p>- Có cần tìm một Gia sư có kinh nghiệm giảng dạy không?</p>
                    <p>- Hãy hỏi thầy cô về lịch thi, kiểm tra để Gia sư của con bạn có kế hoạch cụ thể cho việc ôn luyện, bồi dưỡng kiến thức.</p>
                    <br>
                     <div class="card">
                        <div class="card-image">
                            <img src="images/common.png" border="0">
                        </div>
                    </div>
                    <span class="red-text text-darken-4"><i class="fa fa-hand-o-right" aria-hidden="true"></i><u> Phẩm giá gia sư:</u></span>
                    <p>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i> Nhìn chung, một gia sư tốt nhất là người phù hợp với cách học của con bạn. Có thể xem xét đến 2 yếu tố sau.
                    </p>
                    <p><u>1. Lịch học:</u></p>
                    <p>- Lịch học nào tốt nhất cho con?</p>
                    <p>- Mỗi buổi kéo dài bao lâu?</p>
                    <p>- Con bạn sẽ học "một Thầy - một Trò" hay học nhóm?</p>
                    <p>- Con bạn sẽ làm bài tập về nhà lúc nào? Trong bao lâu thì không quá tải?</p>
                    <p><u>2. Phương pháp học:</u></p>
                    <p>- Con bạn dễ tiếp thu bài vở qua cách học nào: Nghe giảng "Chay"? học với hình ảnh minh họa? học thông qua các hoạt động vui chơi? (Nếu bạn không nắm rõ, hãy hỏi thầy cô giáo của con).</p>
                    <p>- Nếu việc học của con quả thực rất vất vả thì cách dạy truyền thống sẽ không mấy có tác dụng. Khi ấy bạn cần tìm một Gia sư sáng tạo hơn, người biết cách giúp con lĩnh hội kiến thức một cách hiệu quả nhất.</p>
                    <p><u>Lưu ý:</u></p>
                    <p>- Khi đã tìm được Gia sư cho con, hãy ngồi lại cùng bàn kế hoạch giúp con tiến bộ. Ví dụ: Có thể hỏi Gia sư xem thầy cô ấy dự định tiến hành những bước cụ thể nào trong kế hoạch giúp con bạn? Mức độ tiến bộ của con sẽ được đánh giá bằng cách nào? Các buổi học sẽ đề cập đến kiến thức, các bài tập, bài kiểm tra trên lớp chứ?</p>
                    <p>- Hãy rõ ràng ngay từ đầu vấn đề học phí cũng như nguyện vọng của gia sư khi hợp tác cùng gia đình bạn. Sau cùng, ít nhất tuần 1 lần, hãy để ý xem việc học của con và gia sư đang tiến triển đến đâu?</p>
                    <p>- Gia sư không phải là một ảo thuật gia tài thánh, quá trình học tập của con bạn cần thời gian mới thấy rõ sự tiến bộ. Bởi thế, hãy tỉnh táo trước những kỳ vọng, đừng quên cổ vũ con: "Mẹ biết con học vất vả, nhưng đây là kết quả của con tuần trước. Hãy xem, tuần này con tiến bộ"...</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align orange darken-3 white-text">
                    <h6>GIA SƯ CÁC MÔN</h6>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Toán</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Lý</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Hóa</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Sinh</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Anh</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Văn</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Luyện thi Đại Học</div>
                </li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header center-align green darken-3 white-text">
                    <h6>TIN TỨC NỔI BẬT</h6>
                </li>
            </ul>
            <div class="auto">
                <div class="carousel">
                    <ul>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/common_1.png"><br>
                            <a class="grey-text text-darken-4">
                                Giáo viên muốn môn Toán 'học gì thi nấy, không đánh đố'
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/portfolio-header.jpg"><br>
                            <a class="grey-text text-darken-4"> 
                                Nữ sinh Việt đạt điểm tuyệt đối kỳ thi chuẩn hóa SAT
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/about.jpg"><br>
                            <a class="grey-text text-darken-4">
                                Nữ sinh được 8 trường danh tiếng mời nhập học
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/home.png"><br>
                            <a class="grey-text text-darken-4">
                                Nam sinh trường Luật đạt điểm TOEIC tuyệt đối
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/contact.jpg"><br>
                            <a class="grey-text text-darken-4">
                                Sử dụng chung hệ thống phần mềm quản lý thi THPT quốc gia
                            </a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text center-align">
                    <span class="card-title"><b><u>KHAI GIẢNG CÁC LỚP THƯỜNG XUYÊN</u></b></span>
                    <p>Liên hệ và ghi danh tại Văn phòng trụ sở chính:</p>
                    <p>18/64A, KDC Đại Hải, Ấp 7, xã Xuân Thới Thượng, huyện Hóc Môn, HCM.</p>
                    <p>Website: tuvanduhocdaihai.edu.vn</p>
                    <p>Phone: 0862.50.55.22 hoặc 0914.787.008 (Thầy Nam).</p>
                    <p>Email: tuvanduhocdaihai@gmail.com</p>
                </div>
            </div>  
        </div>
    </div>