<%- contentFor('body') %>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-image">
                    <img src="images/about.jpg" border="0">
                    <span class="card-title">ĐĂNG KÝ TÌM GIA SƯ</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="home-page-content">
        <div class="col s12 m3 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align purple darken-3 white-text">
                    <h6>PHỤ HUYNH</h6>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Lưu ý khi chọn gia sư cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Tầm quan trọng của việc chọn đúng
                        gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Những điều phụ huynh nên biết khi
                        thuê gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Bồi dưỡng kiến thức cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Dạy kèm tại nhà</div>
                </li>
            </ul>
            <ul class="collection with-header" id="home-page-content-support">
                <li class="collection-header center-align indigo darken-3 white-text">
                    <h6>THÔNG TIN HỖ TRỢ</h6>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle indigo darken-3">phone</i>
                    <span class="title home-support-title">0862.50.55.22</span>
                    <p class="home-support-title">(Thầy Nam)</p>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle indigo darken-3">phone</i>
                    <span class="title home-support-title">0914.787.008</span>
                    <p class="home-support-title">(Thầy Nam)</p>
                </li>
            </ul>
        </div>
        <div class="col s12 m6 l8">
            <ul class="collection with-header">
                <li class="collection-header center-align light-blue darken-3 white-text">
                    <h6>TƯ VẤN DU HỌC ĐẠI HẢI THÔNG BÁO TUYỂN DỤNG</h6>
                </li>
            </ul>
            <div class="card hoverable grey lighten-3 card-introdution-us">
                <div class="card-content">
                    <span class="card-title red-text text-darken-4 card-introduction-title">
                        <i class="fa fa-star amber-text text-accent-4" aria-hidden="true"></i>
                            <b> TUYỂN DỤNG GIA SƯ GIỎI</b>
                        <i class="fa fa-star amber-text text-accent-4" aria-hidden="true"></i>
                    </span>
                    <p class="mdl-card-supporting-text">
                        - Nhằm đáp ứng nhu cầu Gia sư chất lượng cao của PH-HS trong năm học 2017-2018,  
                        Trung tâm TƯ VẤN DU HỌC ĐẠI HẢI cần tuyển Gia sư với yêu cầu sau:
                    </p>
                    <div class="card">
                        <div class="card-image">
                            <img src="images/recruitment_1.png" border="0">
                        </div>
                    </div>
                    <p><i class="orange-text text-darken-4 fa fa-snowflake-o" aria-hidden="true"></i>
                        <u> Đối tượng:</u >
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Sinh viên (SV) các trường đại học, cao đẳng,...
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                         Giáo viên (GV) các trường tiểu học, trung học, đại học, kể cả giáo viên đã nghỉ hưu.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                         Giảng viên các trường Đại học.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Tốt nghiệp (TN) chuyên ngành Ngoại ngữ, Văn, Toán, Lý, Hóa, Sinh, ... từ các trường ĐH, CĐ trong cả nước.
                    </p>
                    <p><i class="orange-text text-darken-4 fa fa-snowflake-o" aria-hidden="true"></i>
                        <u> Yêu cầu:</u >
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Mang bản chính CMND, thẻ SV và các bằng cấp (nếu có) khi đến văn phòng giao dịch, hoặc cập nhật trực tuyến hình ảnh bằng cấp giấy tờ tại website.
                    </p>
                    <p><i class="orange-text text-darken-4 fa fa-snowflake-o" aria-hidden="true"></i>
                        <u> Quyền lợi:</u >
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Văn phòng làm việc với tâm huyết mang lại một địa chỉ tin cậy cho tất cả gia sư.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Luôn kiểm tra, giám sát quá trình dạy & học.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Đến tận nhà PH-HS để tìm hiểu sức học, tính tình, yêu cầu chi tiết,... trước khi cử gia sư đến dạy.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Bạn phải đảm bảo 03 tiêu chí:
                        <br>
                        + Giỏi kiến thức chuyên môn.
                        <br>
                        + Ý thức trách nhiệm cao.
                        <br>
                        + Trung thực.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Mức chi phí cực thấp.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Tránh mọi rủi ro khi gặp trung tâm gia sư lừa đảo.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Được văn phòng hỗ trợ trong quá trình giảng dạy.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Chúng tôi giúp bạn giải quyết những vấn đề hóc búa, khó xử.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Văn phòng tổ chức các buổi giao lưu để các gia sư có thể trao đổi kinh nghiệm, kiến thức.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Được huấn luyện kiến thức chuyên môn & kinh nghiệm xử lý tình huống.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Linh hoạt trong giảng dạy.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Bạn chỉ rảnh một khoảng thời gian nhất định? Không sao, chúng tôi sẽ bố trí thời gian phù hợp cho bạn.
                    </p>
                    <p><i class="green-text green-darken-4 fa fa-check-square-o" aria-hidden="true"></i>
                        Bạn chỉ giỏi 1 hoặc 2 môn (ví dụ giỏi Toán & Lý, rất ngại môn Hóa)? 
                        Không sao, chúng tôi sẽ bố trí bạn dạy Toán + Lý, gia sư khác sẽ dạy Hóa!
                    </p>
                    <br>
                    <a href="/lop-moi" class="right">
                        Danh sách các lớp học!
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align orange darken-3 white-text">
                    <h6>GIA SƯ CÁC MÔN</h6>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Toán</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Lý</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Hóa</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Sinh</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Anh</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Văn</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Luyện thi Đại Học</div>
                </li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header center-align green darken-3 white-text">
                    <h6>TIN TỨC NỔI BẬT</h6>
                </li>
            </ul>
            <div class="auto">
                <div class="carousel">
                    <ul>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/common_1.png"><br>
                            <a class="grey-text text-darken-4">
                                Giáo viên muốn môn Toán 'học gì thi nấy, không đánh đố'
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/portfolio-header.jpg"><br>
                            <a class="grey-text text-darken-4"> 
                                Nữ sinh Việt đạt điểm tuyệt đối kỳ thi chuẩn hóa SAT
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/about.jpg"><br>
                            <a class="grey-text text-darken-4">
                                Nữ sinh được 8 trường danh tiếng mời nhập học
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/home.png"><br>
                            <a class="grey-text text-darken-4">
                                Nam sinh trường Luật đạt điểm TOEIC tuyệt đối
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/contact.jpg"><br>
                            <a class="grey-text text-darken-4">
                                Sử dụng chung hệ thống phần mềm quản lý thi THPT quốc gia
                            </a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card blue-grey darken-1">
                    <div class="card-content white-text center-align">
                        <span class="card-title"><b><u>KHAI GIẢNG CÁC LỚP THƯỜNG XUYÊN</u></b></span>
                        <p>Liên hệ và ghi danh tại Văn phòng trụ sở chính:</p>
                        <p>18/64A, KDC Đại Hải, Ấp 7, xã Xuân Thới Thượng, huyện Hóc Môn, HCM.</p>
                        <p>Website: tuvanduhocdaihai.edu.vn</p>
                        <p>Phone: 0862.50.55.22 hoặc 0914.787.008 (Thầy Nam).</p>
                        <p>Email: tuvanduhocdaihai@gmail.com</p>
                    </div>
                </div>
        </div>
    </div>