<%- contentFor('body') %>
    <!-- <div class="row">
        <div class="col s12 m12 l12">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="/images/slide_01.png">
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="/images/slide_02.png">
                        <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="/images/slide_03.png">
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

    <section>
        <div class="row">
            <div class="col s12 m4 l4" id="home-height-carousel-video">
                <div class="card hoverable card-introduction-video">
                    <video class="responsive-video" controls>
                        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col s12 m8 l8">
                <div class="carousel carousel-slider center" data-indicators="true" id="home-height-carousel">
                    <div class="carousel-fixed-item center">
                        <a href="/lien-he" class="btn waves-effect purple white-text">Liên hệ</a>
                    </div>
                    <div class="carousel-item white-text" href="#one!" style="background-image: url('../images/home.png');">
                        <h2 class="indigo-text text-darken-4">KHỞI ĐẦU THÀNH CÔNG</h2>
                        <p class="white-text"></p>
                    </div>
                    <div class="carousel-item amber white-text" href="#two!" style="background-image: url('../images/portfolio-header.jpg');">
                        <h2 class="indigo-text text-darken-4">VUỢT QUA THỬ THÁCH</h2>
                        <p class="white-text"></p>
                    </div>
                    <div class="carousel-item green white-text" href="#three!" style="background-image: url('../images/contact.jpg');">
                        <h2 class="indigo-text text-darken-4">HƯỚNG ĐẾN TƯƠNG LAI</h2>
                        <p class="white-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row" id="home-page-content">
        <div class="col s12 m3 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align purple darken-3 white-text">
                    <h6>PHỤ HUYNH</h6>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Lưu ý khi chọn gia sư
                        cho con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Tầm quan trọng của việc
                        chọn đúng gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Những điều phụ huynh
                        nên biết khi thuê gia sư</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Bồi dưỡng kiến thức cho
                        con em</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o purple-text text-darken-3" aria-hidden="true"></i> Dạy kèm tại nhà</div>
                </li>
            </ul>
            <ul class="collection with-header" id="home-page-content-support">
                <li class="collection-header center-align indigo darken-3 white-text">
                    <h6>THÔNG TIN HỖ TRỢ</h6>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle indigo darken-3">phone</i>
                    <span class="title home-support-title">0862.50.55.22</span>
                    <p class="home-support-title">(Thầy Nam)</p>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle indigo darken-3">phone</i>
                    <span class="title home-support-title">0914.787.008</span>
                    <p class="home-support-title">(Thầy Nam)</p>
                </li>
            </ul>
        </div>
        <div class="col s12 m6 l8">
            <ul class="collection with-header">
                <li class="collection-header center-align light-blue darken-3 white-text">
                    <h6>CHIÊU SINH KHÓA HỌC HÈ 2017</h6>
                </li>
            </ul>
            <div class="card hoverable grey lighten-3 card-introdution-us">
                <div class="card-content">
                    <span class="card-title red-text text-darken-4 card-introduction-title"><i class="material-icons">school</i><b> TƯ VẤN DU HỌC ĐẠI HẢI - KHỞI ĐẦU THÀNH CÔNG</b></span>
                    <p class="mdl-card-supporting-text">
                        - Các bậc phụ huynh đang băn khoăn không biết làm sao tìm được một gia sư giỏi đáng tin cậy kèm cặp con em mình, giúp con
                        em mình tiến bộ?
                    </p>
                    <p class="mdl-card-supporting-text">
                        - Quá nhiều môn học tại trường lớp, cùng với vô vàng kiến thức, làm các em học sinh cảm thấy ác lực và căng thẳng?
                    </p>
                    <p class="mdl-card-supporting-text">
                        - Các em học sinh đã học thêm nhiều nơi, nhưng vẫn không tiến bộ?
                    </p>
                    <br>
                    <p class="mdl-card-supporting-text">
                        - TƯ VẤN DU HỌC ĐẠI HẢI cam kết sẽ dốc hết sức và tận tụy hết mình để đồng hành cùng các em trong quá trình dạy và học. Với
                        bề dày kinh nghiệm và sự phát triễn theo phương châm <b>Dạy thật, học thật</b>                        chúng tôi đã áp dụng mô hình đào tạo khép kín. Cộng thêm cơ sở vật chất khang trang, thuận tiện cho
                        các học sinh ở xa học nội trú hoặc bán trú.
                    </p>
                    <p class="mdl-card-supporting-text">
                        - TƯ VẤN DU HỌC ĐẠI HẢI áp dụng mô hình học tập nhóm từ 8 đến 10 học sinh, các em sẽ dễ dàng tương tác với giáo viên và bạn
                        bè nhằm tạo hiệu quả cao trong việc trao đổi và học tập lẫn nhau và đảm báo các em tiếp thu bài hiệu
                        quả. Quý phụ huynh có thể hoàn toàn yên tâm và tin tưởng khi gửi con cho chúng tôi. Nhân dịp hè 2017
                        <b>TƯ VẤN DU HỌC  ĐẠI HẢI</b>:
                    </p>
                    <br>
                    <span class="card-title red-text text-darken-4 card-introduction-title center-align"><b>CHIÊU SINH KHÓA HỌC HÈ 2017</b></span>
                    <p class="mdl-card-supporting-text-recruits">
                        <b>- Nhận giữ học sinh bán trú từ 6h30 đến 18h30 [từ T2 đến T7].</b>
                    </p>
                    <p class="mdl-card-supporting-text-recruits">
                        <b>- Kèm sát chương trình học của từng khối lớp.</b>
                    </p>
                    <p class="mdl-card-supporting-text-recruits">
                        <b>- Lấy lại kiến thức căn bản cho HS yếu, kém. Bồi dưỡng, nâng cao cho HS khá giỏi.</b>
                    </p>
                    <p class="mdl-card-supporting-text-recruits">
                        <b>- Rèn chính tả - Tiếng việt – Toán – Luyện chữ cho HS chuẩn bị vào lớp 1.</b>
                    </p>
                    <p class="mdl-card-supporting-text-recruits">
                        <b>- Phòng học, phòng ăn, phòng ngủ sạch sẽ, thoáng mát, có máy lạnh.</b>
                    </p>
                    <p class="mdl-card-supporting-text-recruits">
                        <b>- Ngoài việc học tập, các em còn được tham gia những lớp học rèn luyện kĩ năng (võ, kĩ năng nói chuyện trước đám đông, ...) 
                            để giúp các em phát triển toàn diện.</b>
                    </p>
                    <span class="card-title red-text text-darken-4 card-introduction-title"><b>ĐẶC BIỆT:</b> NHẬN HỌC SINH BÁN TRÚ (CÓ XE ĐƯA ĐÓN).</span>
                    <span class="card-title teal-text text-darken-4 card-introduction-title center-align"><b><u>THỜI GIAN BIỂU </u></b></span>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 6h30 – 7h30: Nhận học sinh.</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 7h30 – 9h00: Phụ đạo, dạy kèm học sinh (Giảng dạy kiến thức từ căn
                        bản đến nâng cao).</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 9h00 – 9h20: Nghỉ giải lao và tập thể dục giữa giờ.</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 9h30 – 11h15: Phụ đạo, dạy kèm học sinh (Giảng dạy kiến thức từ
                        căn bản đến nâng cao).</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 11h20 – 11h50: Ăn trưa.</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 11h50 – 13h45: Vệ sinh cá nhân – ngủ trưa.</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 14h00 – 15h30: Phụ đạo, dạy kèm học sinh (Giảng dạy kiến thức từ
                        căn bản đến nâng cao).</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 15h30 – 15h45: Nghỉ giải lao.</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 15h45 – 17h15: Phụ đạo, dạy kèm học sinh.</p>
                    <p class="mdl-card-supporting-text teal-text text-darken-4"><i class="material-icons ">check</i> 17h15 – 18h30: Phụ huynh đón học sinh về.</p>
                    <p class="teal-text text-darken-4 card-introduction-title">
                        <b><i class="fa fa-hand-o-right fa-lg" aria-hidden="true"></i> Trong tuần học sinh sẽ được tham gia học tập năng khiếu để phát triển thể chất, và rèn luyện kỹ năng.</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l2">
            <ul class="collection with-header">
                <li class="collection-header center-align orange darken-3 white-text">
                    <h6>GIA SƯ CÁC MÔN</h6>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Toán</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Lý</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Hóa</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Sinh</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Anh</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Gia sư môn Văn</div>
                </li>
                <li class="collection-item">
                    <div><i class="fa fa-dot-circle-o orange-text text-darken-3" aria-hidden="true"></i> Luyện thi Đại Học</div>
                </li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header center-align green darken-3 white-text">
                    <h6>TIN TỨC NỔI BẬT</h6>
                </li>
            </ul>
            <div class="auto">
                <div class="carousel">
                    <ul>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/common_1.png"><br>
                            <a class="grey-text text-darken-4">
                                Giáo viên muốn môn Toán 'học gì thi nấy, không đánh đố'
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/portfolio-header.jpg"><br>
                            <a class="grey-text text-darken-4"> 
                                Nữ sinh Việt đạt điểm tuyệt đối kỳ thi chuẩn hóa SAT
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/about.jpg"><br>
                            <a class="grey-text text-darken-4">
                                Nữ sinh được 8 trường danh tiếng mời nhập học
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/home.png"><br>
                            <a class="grey-text text-darken-4">
                                Nam sinh trường Luật đạt điểm TOEIC tuyệt đối
                            </a>
                        </li>
                        <hr>
                        <li class="collection-item">
                            <img class="responsive-img" height="100" src="../images/contact.jpg"><br>
                            <a class="grey-text text-darken-4">
                                Sử dụng chung hệ thống phần mềm quản lý thi THPT quốc gia
                            </a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text center-align">
                    <span class="card-title"><b><u>KHAI GIẢNG CÁC LỚP THƯỜNG XUYÊN</u></b></span>
                    <p>Liên hệ và ghi danh tại Văn phòng trụ sở chính:</p>
                    <p>18/64A, KDC Đại Hải, Ấp 7, xã Xuân Thới Thượng, huyện Hóc Môn, HCM.</p>
                    <p>Website: tuvanduhocdaihai.edu.vn</p>
                    <p>Phone: 0862.50.55.22 hoặc 0914.787.008 (Thầy Nam).</p>
                    <p>Email: tuvanduhocdaihai@gmail.com</p>
                </div>
            </div>  
        </div>
    </div>